<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mercy Care</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ABC Laboratories"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap"
          rel="stylesheet">
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <script th:src="@{js/responsiveslides.min.js}"></script>
    <script type="text/javascript" th:src="@{js/numscroller-1.0.js}"></script>
</head>
<body>
<div class="header_w3l">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a href="/">Mercy Care<span> Labs </span></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about" class="active">About</a></li>
                    <li><a href="treatments">Treatments</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li th:if="${loggedin == null}"><a href="login">Login</a></li>
                    <li th:if="${loggedin != null}"><a href="profile">Profile</a></li>
                    <li th:if="${loggedin != null}"><a href="appointment">Make an Appointment</a></li>
                    <li th:if="${loggedin != null}"><a href="logout">Logout</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>
<div class="banner_w3ls page_head">
</div>
<div class="about all_pad">
    <div class="container">
        <h3 class="title">About</h3>
        <div class="services-grids w3layouts">
            <div class="col-md-6 ser-right-page">
                <div class="port-2 effect-3">
                    <div class="image-box w3">
                        <img th:src="@{images/a1.jpg}" alt=" "/>
                    </div>
                    <div class="text-desc">
                        <h4>ABC Laboratories</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ser-left-page">
                <div class="services-grid w3l">
                    <div class="services-left w3ls">
                        <p>01</p>
                    </div>
                    <div class="services-right agileits">
                        <h4>Provide the best services</h4>
                        <p>Our reputation has now gone global with the World Health Organisation and other International research organisations using the ABC Laboratory Services for their clinical trials and CSR projects in Sri Lanka. When the first Liver Transplant was performed in Sri Lanka it was ABC Laboratory that conducted all necessary investigations to obtain timely and accurate results whilst surgery was in progress thus being the indisputable choice for Sri Lanka’s liver transplant team.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="services-grid agileinfo">
                    <div class="services-left wthree">
                        <p>02</p>
                    </div>
                    <div class="services-right w3-agileits">
                        <h4>Best standards</h4>
                        <p>The International Organisation for Standardisation (ISO) has accredited and certified the ABC Laboratory for its standards in laboratory, environment and management systems, as equivalent to the best in class in the world.

                            The ABC Laboratories network extends across the country through its satellite laboratories and sample collection centres. We perform the largest number and the largest variety of tests among all private laboratories in Sri Lanka.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="about_bot">
    <div class="container">
        <div class="col-md-8 abt-top-right">
            <div class="col-sm-6 capabil-grid wow fadeInDown animated animated text-center" data-wow-delay="0.4s">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='570'
                     data-delay='.5' data-increment="1">570
                </div>
                <h4>Reports</h4>
                <p>Total number of reports generated </p>
            </div>
            <div class="col-sm-6 capabil-grid wow fadeInDown animated animated text-center" data-wow-delay="0.4s">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='340'
                     data-delay='.5' data-increment="1">340
                </div>
                <h4>Patients</h4>
                <p>Total number of patiens who have obtained our services</p>
            </div>
            <div class="col-sm-6 capabil-grid wow fadeInDown animated animated text-center" data-wow-delay="0.4s">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='490'
                     data-delay='.5' data-increment="1">490
                </div>
                <h4>Treatments</h4>
                <p>Total number of treatment types available </p>
            </div>
            <div class="col-sm-6 capabil-grid wow fadeInDown animated animated text-center" data-wow-delay="0.4s">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='250'
                     data-delay='.5' data-increment="1">250
                </div>
                <h4>Appointment</h4>
                <p>Total number of appointments we have obtained.</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 abt-top agileits-w3layouts">
            <img th:src="@{images/a2.png}" alt=" "/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="/" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript" th:src="@{js/bootstrap-3.1.1.min.js}"></script>
</body>
</html>
