<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Laboratories</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ABC Laboratories"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap"
          rel="stylesheet">
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script th:src="@{js/responsiveslides.min.js}"></script>
</head>
<body>
<!-- header -->
<div class="header_w3l">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a href="/">ABC<span> Laboratories </span></a></h1>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about" >About</a></li>
                    <li><a href="treatments">Treatments</a></li>
                    <li><a href="contact" class="active">Contact</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>
<!-- header -->
<!-- banner -->
<div class="banner_w3ls page_head">

</div>
<!-- //banner -->
<div class="map all_pad">
    <div class="container">
        <h3 class="title agile">View On Map</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819"
                style="border:0"></iframe>
        <div class="contact-grids w3layouts">
            <h3 class="title">Contact Us<span></span></h3>
            <div class="col-md-4 contact-grid agile text-center animated wow slideInLeft" data-wow-delay=".5s">
                <div class="contact-grid1 agileits-w3layouts">
                    <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                    <h4>Address</h4>
                    <p> Kirimandala Mawatha,
                        Colombo 5 <span>Sri Lanka.</span></p>
                </div>
            </div>
            <div class="col-md-4 contact-grid agileits text-center animated wow slideInUp" data-wow-delay=".5s">
                <div class="contact-grid2 w3">
                    <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                    <h4>Call Us</h4>
                    <p>+94 11 452 4400<span>+94 11 452 7311</span></p>
                </div>
            </div>
            <div class="col-md-4 contact-grid w3 text-center animated wow slideInRight" data-wow-delay=".5s">
                <div class="contact-grid3 w3l">
                    <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                    <h4>Email</h4>
                    <p><a href="mailto:info@example.com">info@abc.lk</a><span><a href="mailto:info@abc.lk">info@laboraties.lk</a></span>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" th:src="@{js/bootstrap-3.1.1.min.js}"></script>
</body>
</html>
