<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ABC Laboratories</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ABC Laboratories"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel='stylesheet' type='text/css' th:href='@{css/jquery.easy-gallery.css}'/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap"
          rel="stylesheet">

    <script type="text/javascript" th:src="@{js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>

    <script th:src="@{js/responsiveslides.min.js}"></script>
</head>
<body>

<div class="header_w3l">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a href="/">ABC<span> Laboratories </span></a></h1>
            </div>
            <!-- top-nav -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about" >About</a></li>
                    <li><a href="treatments" class="active">Treatments</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>

<div class="banner_w3ls page_head">

</div>

<div class="gallery all_pad wthree">
    <div class="container">
        <h3 class="title w3">Treatments</h3>

        <div class="gallery-grids w3-agileits">
            <div class="col-md-6 gallery-grids-left">
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/10.jpg}' data-big-src='images/10.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/9.jpg}' data-big-src='images/9.jpg' alt=" "/>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="gallery-grids-right1">
                    <div class="gallery-grid">
                        <img th:src='@{images/13.jpg}' data-big-src='images/13.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/15.jpg}' data-big-src='images/15.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/16.jpg}' data-big-src='images/16.jpg' alt=" "/>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 gallery-grids-left">
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/11.jpg}' data-big-src='images/11.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/17.jpg}' data-big-src='images/17.jpg' alt=" "/>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="gallery-grids-right1">
                    <div class="gallery-grid">
                        <img th:src='@{images/14.jpg}' data-big-src='images/14.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/18.jpg}' data-big-src='images/18.jpg' alt=" "/>

                    </div>
                </div>
                <div class="col-sm-6 gallery-grids-right">
                    <div class="gallery-grid">
                        <img th:src='@{images/19.jpg}' data-big-src='images/19.jpg' alt=" "/>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <script type='text/javascript' th:src='@{js/jquery.easy-gallery.js}'></script>
            <script type='text/javascript'>
                //init Gallery
                $('.gallery').easyGallery();
            </script>
        </div>
    </div>
</div>
<!-- //gallery -->

<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" th:src="@{js/bootstrap-3.1.1.min.js}"></script>
</body>
</html>
